In [2]:
#Import dependencies
import pandas as pd
import os 
import json
import time

In [3]:
#Airlines data csv file path
airlines_data_1 = os.path.join("Resources/airlines_split_1.csv")
airlines_data_2 = os.path.join("Resources/airlines_split_2.csv")
airlines_data_3 = os.path.join("Resources/airlines_split_3.csv")
airlines_data_4 = os.path.join("Resources/airlines_split_4.csv")
airlines_data_5 = os.path.join("Resources/airlines_split_5.csv")
airlines_data_6 = os.path.join("Resources/airlines_split_6.csv")
airlines_data_7 = os.path.join("Resources/airlines_split_7.csv")
airlines_data_8 = os.path.join("Resources/airlines_split_8.csv")
airlines_data_9 = os.path.join("Resources/airlines_split_9.csv")

In [4]:
#Retrieve Airlines Data
# orig_df = pd.read_csv(orig_file_path)
# print(len(orig_df.index))

# split_file_df_1 = orig_df.loc[range(0,300001)]
# split_file_df_2 = orig_df.loc[range(300001,600001)]
# split_file_df_3 = orig_df.loc[range(600001,900001)]
# split_file_df_4 = orig_df.loc[range(900001,1200001)]
# split_file_df_5 = orig_df.loc[range(1200001,1500001)]
# split_file_df_6 = orig_df.loc[range(1500001,1800001)]
# split_file_df_7 = orig_df.loc[range(1800001,2100001)]
# split_file_df_8 = orig_df.loc[range(2100001,2400001)]
# split_file_df_9 = orig_df.loc[range(2400001,2745847)]
# print(len(split_file_df_1.index))
# print(len(split_file_df_2.index))
# print(len(split_file_df_3.index))
# print(len(split_file_df_4.index))
# print(len(split_file_df_5.index))
# print(len(split_file_df_6.index))
# print(len(split_file_df_7.index))
# print(len(split_file_df_8.index))
# print(len(split_file_df_9.index))
# print(len(split_file_df_1.index)
#      + len(split_file_df_2.index)
#      + len(split_file_df_3.index)
#      + len(split_file_df_4.index)
#      + len(split_file_df_5.index)
#      + len(split_file_df_6.index)
#      + len(split_file_df_7.index)
#      + len(split_file_df_8.index)
#      + len(split_file_df_9.index))
# split_file_df_1.to_csv("Resources/airlines_split_1.csv")
# split_file_df_2.to_csv("Resources/airlines_split_2.csv")
# split_file_df_3.to_csv("Resources/airlines_split_3.csv")
# split_file_df_4.to_csv("Resources/airlines_split_4.csv")
# split_file_df_5.to_csv("Resources/airlines_split_5.csv")
# split_file_df_6.to_csv("Resources/airlines_split_6.csv")
# split_file_df_7.to_csv("Resources/airlines_split_7.csv")
# split_file_df_8.to_csv("Resources/airlines_split_8.csv")
# split_file_df_9.to_csv("Resources/airlines_split_9.csv")

In [5]:
#Loop through the rows in the data frame 
file_name = "airlines_split_"
for index in range(1,10):
    file_path = os.path.join("Resources",f"{file_name}{index}.csv")
    if index == 1:
        df = pd.read_csv(file_path, low_memory=False)
    else:
        df = df.append(pd.read_csv(file_path, low_memory=False))

df

,Unnamed: 0,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,TAIL_NUM,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,2020,1,1,1,3,1/1/2020,WN,5888,N951WN,...,95.0,122.0,74.0,363,2,8.0,0.0,27.0,0.0,33.0
1,1,2020,1,1,1,3,1/1/2020,WN,6276,N467WN,...,90.0,92.0,71.0,363,2,NaN,NaN,NaN,NaN,NaN
2,2,2020,1,1,1,3,1/1/2020,WN,4598,N7885A,...,70.0,68.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
3,3,2020,1,1,1,3,1/1/2020,WN,4761,N551WN,...,75.0,75.0,63.0,333,2,NaN,NaN,NaN,NaN,NaN
4,4,2020,1,1,1,3,1/1/2020,WN,5162,N968WN,...,80.0,67.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345841,2745842,2020,2,6,13,6,6/13/2020,AS,1209,N413AS,...,375.0,342.0,329.0,2677,11,NaN,NaN,NaN,NaN,NaN
345842,2745843,2020,2,6,13,6,6/13/2020,AS,1216,N929VA,...,176.0,170.0,145.0,1107,5,NaN,NaN,NaN,NaN,NaN
345843,2745844,2020,2,6,13,6,6/13/2020,AS,1217,N929VA,...,185.0,175.0,154.0,1107,5,NaN,NaN,NaN,NaN,NaN
345844,2745845,2020,2,6,13,6,6/13/2020,AS,1223,N841VA,...,165.0,164.0,145.0,978,4,NaN,NaN,NaN,NaN,NaN
345845,2745846,2020,2,6,13,6,6/13/2020,AS,1229,N413AS,...,338.0,338.0,316.0,2677,11,NaN,NaN,NaN,NaN,NaN

In [12]:
#Rename Dataframe with New Columns 
airlines_df= df[["YEAR", "MONTH", "FL_DATE", "MKT_UNIQUE_CARRIER", "ORIGIN", "ORIGIN_CITY_NAME",
                         "DEST", "DEST_CITY_NAME", "CANCELLED", "CANCELLATION_CODE", "DEP_DELAY", "ARR_DELAY",
                         "CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"]]

airlines_df

,YEAR,MONTH,FL_DATE,MKT_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CANCELLED,CANCELLATION_CODE,DEP_DELAY,ARR_DELAY,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2020,1,1/1/2020,WN,ONT,"Ontario, CA",SFO,"San Francisco, CA",0,NaN,41.0,68.0,8.0,0.0,27.0,0.0,33.0
1,2020,1,1/1/2020,WN,ONT,"Ontario, CA",SFO,"San Francisco, CA",0,NaN,-4.0,-2.0,NaN,NaN,NaN,NaN,NaN
2,2020,1,1/1/2020,WN,ONT,"Ontario, CA",SJC,"San Jose, CA",0,NaN,-4.0,-6.0,NaN,NaN,NaN,NaN,NaN
3,2020,1,1/1/2020,WN,ONT,"Ontario, CA",SJC,"San Jose, CA",0,NaN,10.0,10.0,NaN,NaN,NaN,NaN,NaN
4,2020,1,1/1/2020,WN,ONT,"Ontario, CA",SJC,"San Jose, CA",0,NaN,1.0,-12.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345841,2020,6,6/13/2020,AS,SEA,"Seattle, WA",HNL,"Honolulu, HI",0,NaN,-2.0,-35.0,NaN,NaN,NaN,NaN,NaN
345842,2020,6,6/13/2020,AS,PHX,"Phoenix, AZ",SEA,"Seattle, WA",0,NaN,-13.0,-19.0,NaN,NaN,NaN,NaN,NaN
345843,2020,6,6/13/2020,AS,SEA,"Seattle, WA",PHX,"Phoenix, AZ",0,NaN,-2.0,-12.0,NaN,NaN,NaN,NaN,NaN
345844,2020,6,6/13/2020,AS,SNA,"Santa Ana, CA",SEA,"Seattle, WA",0,NaN,-11.0,-12.0,NaN,NaN,NaN,NaN,NaN
345845,2020,6,6/13/2020,AS,HNL,"Honolulu, HI",SEA,"Seattle, WA",0,NaN,-5.0,-5.0,NaN,NaN,NaN,NaN,NaN