In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import json
import os

In [3]:
# Set stock data csv file path
stock_data_url = os.path.join("Resources","stock_data.csv")

# Read the Stock data from CSV file into dataframe
stock_data_df = pd.read_csv(stock_data_url)
stock_data_df

,Symbol,Name,2019-12-31,2020-03-31,2020-06-30,2020-10-09
0,A,"Agilent Technologies, Inc. Common Stock",85.309998,71.620003,88.370003,105.760002
1,AA,Alcoa Corporation Common Stock,21.510000,6.160000,11.240000,12.520000
2,AAA,Listed Funds Trust AAF First Priority CLO Bond...,NaN,NaN,NaN,24.895000
3,AAAU,Perth Mint Physical Gold ETF,15.150000,15.720000,17.780001,19.219999
4,AACG,ATA Creativity Global - American Depositary Sh...,1.360000,0.950000,1.260000,1.080000
...,...,...,...,...,...,...
9158,ZUO,"Zuora, Inc. Class A Common Stock",14.330000,8.050000,12.750000,11.060000
9159,ZVO,Zovio Inc. - Common Stock,2.060000,1.650000,3.060000,4.530000
9160,ZYME,Zymeworks Inc. Common Shares,45.459999,35.470001,36.070000,47.099998
9161,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",6.040000,3.830000,3.370000,3.680000
9162,ZYXI,"Zynex, Inc. - Common Stock",7.870000,11.070000,24.870001,19.730000