In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import json

In [3]:
# Retrieve Stock Symbols and Names
data = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/nasdaqtraded.txt", sep='|')
data_clean = data[data['Test Issue'] == 'N']
symbols = data_clean['NASDAQ Symbol'].tolist()
business_names = data_clean['Security Name'].tolist()

print(f"Total Stock Symbols retrieved = {len(symbols)}")

Total Stock Symbols retrieved = 9163

In [4]:
# Dataframe to hold the Stock Values
stock_value_df = pd.DataFrame({
    "Symbol": symbols,
    "Name": business_names,
    "2019-12-31": "",
    "2020-03-31": "",
    "2020-06-30": "",
    "2020-10-09": ""
})
stock_value_df.head()

,Symbol,Name,2019-12-31,2020-03-31,2020-06-30,2020-10-09
0,A,"Agilent Technologies, Inc. Common Stock",,,,
1,AA,Alcoa Corporation Common Stock,,,,
2,AAA,Listed Funds Trust AAF First Priority CLO Bond...,,,,
3,AAAU,Perth Mint Physical Gold ETF,,,,
4,AACG,ATA Creativity Global - American Depositary Sh...,,,,